<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="container-with-sidebar">
        <div class="main-content">
          <article class="post h-entry" itemscope itemtype="http://schema.org/ScriptPosting">
            <header class="post-header">
              <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
              <p class="post-meta">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ page.date | date: "%Y年%m月%d日" }}
                </time>
                {%- if page.author -%}
                  • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                {%- endif -%}
              </p>
            </header>

            <div class="post-content e-content" itemprop="articleBody" id="post-content">
              {{ content }}
            </div>

            {% if page.tags.size > 0 %}
              {% assign post_tags = page %}
              {% include post-tags.html post=post_tags %}
            {% endif %}

            {%- if site.disqus.shortname -%}
              {%- include disqus_comments.html -%}
            {%- endif -%}

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
          </article>
        </div>
        <!-- スクリプト記事用サイドバー（目次付き） -->
        <aside class="sidebar post-sidebar">
          {%- include toc.html -%}
        </aside>
      </div>
    </main>
    
    {%- include footer.html -%}
  </body>
</html>